@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #eeeeee !important;
  color: #000000 !important;
  overflow-x: hidden;
}

.navbar-toggler,
.btn-close,
.form-select,
.form-control {
  border: 0;
}
.navbar-toggler:focus,
.btn-close:focus,
.form-select:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}

/* Custom responsive font sizes */
:root {
  --fs-1: 2.5rem;
  --fs-2: 2rem;
  --fs-3: 1.75rem;
  --fs-4: 1.5rem;
  --fs-5: 1.25rem;
  --fs-6: 1rem;
  --fs-7: 0.9rem;
  --fs-8: 0.8rem;
  --fs-9: 0.7rem;
  --fs-10: 0.6rem;
}

.fs-1 {
  font-size: var(--fs-1) !important;
}

.fs-2 {
  font-size: var(--fs-2) !important;
}

.fs-3 {
  font-size: var(--fs-3) !important;
}

.fs-4 {
  font-size: var(--fs-4) !important;
}

.fs-5 {
  font-size: var(--fs-5) !important;
}

.fs-6 {
  font-size: var(--fs-6) !important;
}

.fs-7 {
  font-size: var(--fs-7) !important;
}

.fs-8 {
  font-size: var(--fs-8) !important;
}

.fs-9 {
  font-size: var(--fs-9) !important;
}

.fs-10 {
  font-size: var(--fs-10) !important;
}

/* Responsive font sizes */
@media (min-width: 576px) {
  /* Small (sm) */
  .fs-sm-1 {
    font-size: var(--fs-1) !important;
  }
  .fs-sm-2 {
    font-size: var(--fs-2) !important;
  }
  .fs-sm-3 {
    font-size: var(--fs-3) !important;
  }
  .fs-sm-4 {
    font-size: var(--fs-4) !important;
  }
  .fs-sm-5 {
    font-size: var(--fs-5) !important;
  }
  .fs-sm-6 {
    font-size: var(--fs-6) !important;
  }
  .fs-sm-7 {
    font-size: var(--fs-7) !important;
  }
  .fs-sm-8 {
    font-size: var(--fs-8) !important;
  }
  .fs-sm-9 {
    font-size: var(--fs-9) !important;
  }
  .fs-sm-10 {
    font-size: var(--fs-10) !important;
  }
}
@media (min-width: 768px) {
  /* Medium (md) */
  .fs-md-1 {
    font-size: var(--fs-1) !important;
  }
  .fs-md-2 {
    font-size: var(--fs-2) !important;
  }
  .fs-md-3 {
    font-size: var(--fs-3) !important;
  }
  .fs-md-4 {
    font-size: var(--fs-4) !important;
  }
  .fs-md-5 {
    font-size: var(--fs-5) !important;
  }
  .fs-md-6 {
    font-size: var(--fs-6) !important;
  }
  .fs-md-7 {
    font-size: var(--fs-7) !important;
  }
  .fs-md-8 {
    font-size: var(--fs-8) !important;
  }
  .fs-md-9 {
    font-size: var(--fs-9) !important;
  }
  .fs-md-10 {
    font-size: var(--fs-10) !important;
  }
}
@media (min-width: 992px) {
  /* Large (lg) */
  .fs-lg-1 {
    font-size: var(--fs-1) !important;
  }
  .fs-lg-2 {
    font-size: var(--fs-2) !important;
  }
  .fs-lg-3 {
    font-size: var(--fs-3) !important;
  }
  .fs-lg-4 {
    font-size: var(--fs-4) !important;
  }
  .fs-lg-5 {
    font-size: var(--fs-5) !important;
  }
  .fs-lg-6 {
    font-size: var(--fs-6) !important;
  }
  .fs-lg-7 {
    font-size: var(--fs-7) !important;
  }
  .fs-lg-8 {
    font-size: var(--fs-8) !important;
  }
  .fs-lg-9 {
    font-size: var(--fs-9) !important;
  }
  .fs-lg-10 {
    font-size: var(--fs-10) !important;
  }
}
@media (min-width: 1200px) {
  /* Extra Large (xl) */
  .fs-xl-1 {
    font-size: var(--fs-1) !important;
  }
  .fs-xl-2 {
    font-size: var(--fs-2) !important;
  }
  .fs-xl-3 {
    font-size: var(--fs-3) !important;
  }
  .fs-xl-4 {
    font-size: var(--fs-4) !important;
  }
  .fs-xl-5 {
    font-size: var(--fs-5) !important;
  }
  .fs-xl-6 {
    font-size: var(--fs-6) !important;
  }
  .fs-xl-7 {
    font-size: var(--fs-7) !important;
  }
  .fs-xl-8 {
    font-size: var(--fs-8) !important;
  }
  .fs-xl-9 {
    font-size: var(--fs-9) !important;
  }
  .fs-xl-10 {
    font-size: var(--fs-10) !important;
  }
}
@media (min-width: 1400px) {
  /* Extra Extra Large (xxl) */
  .fs-xxl-1 {
    font-size: var(--fs-1) !important;
  }
  .fs-xxl-2 {
    font-size: var(--fs-2) !important;
  }
  .fs-xxl-3 {
    font-size: var(--fs-3) !important;
  }
  .fs-xxl-4 {
    font-size: var(--fs-4) !important;
  }
  .fs-xxl-5 {
    font-size: var(--fs-5) !important;
  }
  .fs-xxl-6 {
    font-size: var(--fs-6) !important;
  }
  .fs-xxl-7 {
    font-size: var(--fs-7) !important;
  }
  .fs-xxl-8 {
    font-size: var(--fs-8) !important;
  }
  .fs-xxl-9 {
    font-size: var(--fs-9) !important;
  }
  .fs-xxl-10 {
    font-size: var(--fs-10) !important;
  }
}
.object-position-top-left {
  -o-object-position: top left !important;
     object-position: top left !important;
}

.object-position-top-center {
  -o-object-position: top center !important;
     object-position: top center !important;
}

.object-position-top-right {
  -o-object-position: top right !important;
     object-position: top right !important;
}

.object-position-center-left {
  -o-object-position: center left !important;
     object-position: center left !important;
}

.object-position-center {
  -o-object-position: center !important;
     object-position: center !important;
}

.object-position-center-right {
  -o-object-position: center right !important;
     object-position: center right !important;
}

.object-position-bottom-left {
  -o-object-position: bottom left !important;
     object-position: bottom left !important;
}

.object-position-bottom-center {
  -o-object-position: bottom center !important;
     object-position: bottom center !important;
}

.object-position-bottom-right {
  -o-object-position: bottom right !important;
     object-position: bottom right !important;
}

@media (min-width: 576px) {
  .object-position-sm-top-left {
    -o-object-position: top left !important;
       object-position: top left !important;
  }
  .object-position-sm-top-center {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .object-position-sm-top-right {
    -o-object-position: top right !important;
       object-position: top right !important;
  }
  .object-position-sm-center-left {
    -o-object-position: center left !important;
       object-position: center left !important;
  }
  .object-position-sm-center {
    -o-object-position: center !important;
       object-position: center !important;
  }
  .object-position-sm-center-right {
    -o-object-position: center right !important;
       object-position: center right !important;
  }
  .object-position-sm-bottom-left {
    -o-object-position: bottom left !important;
       object-position: bottom left !important;
  }
  .object-position-sm-bottom-center {
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
  .object-position-sm-bottom-right {
    -o-object-position: bottom right !important;
       object-position: bottom right !important;
  }
}
@media (min-width: 768px) {
  .object-position-md-top-left {
    -o-object-position: top left !important;
       object-position: top left !important;
  }
  .object-position-md-top-center {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .object-position-md-top-right {
    -o-object-position: top right !important;
       object-position: top right !important;
  }
  .object-position-md-center-left {
    -o-object-position: center left !important;
       object-position: center left !important;
  }
  .object-position-md-center {
    -o-object-position: center !important;
       object-position: center !important;
  }
  .object-position-md-center-right {
    -o-object-position: center right !important;
       object-position: center right !important;
  }
  .object-position-md-bottom-left {
    -o-object-position: bottom left !important;
       object-position: bottom left !important;
  }
  .object-position-md-bottom-center {
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
  .object-position-md-bottom-right {
    -o-object-position: bottom right !important;
       object-position: bottom right !important;
  }
}
@media (min-width: 992px) {
  .object-position-lg-top-left {
    -o-object-position: top left !important;
       object-position: top left !important;
  }
  .object-position-lg-top-center {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .object-position-lg-top-right {
    -o-object-position: top right !important;
       object-position: top right !important;
  }
  .object-position-lg-center-left {
    -o-object-position: center left !important;
       object-position: center left !important;
  }
  .object-position-lg-center {
    -o-object-position: center !important;
       object-position: center !important;
  }
  .object-position-lg-center-right {
    -o-object-position: center right !important;
       object-position: center right !important;
  }
  .object-position-lg-bottom-left {
    -o-object-position: bottom left !important;
       object-position: bottom left !important;
  }
  .object-position-lg-bottom-center {
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
  .object-position-lg-bottom-right {
    -o-object-position: bottom right !important;
       object-position: bottom right !important;
  }
}
@media (min-width: 1200px) {
  .object-position-xl-top-left {
    -o-object-position: top left !important;
       object-position: top left !important;
  }
  .object-position-xl-top-center {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .object-position-xl-top-right {
    -o-object-position: top right !important;
       object-position: top right !important;
  }
  .object-position-xl-center-left {
    -o-object-position: center left !important;
       object-position: center left !important;
  }
  .object-position-xl-center {
    -o-object-position: center !important;
       object-position: center !important;
  }
  .object-position-xl-center-right {
    -o-object-position: center right !important;
       object-position: center right !important;
  }
  .object-position-xl-bottom-left {
    -o-object-position: bottom left !important;
       object-position: bottom left !important;
  }
  .object-position-xl-bottom-center {
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
  .object-position-xl-bottom-right {
    -o-object-position: bottom right !important;
       object-position: bottom right !important;
  }
}
@media (min-width: 1400px) {
  .object-position-xxl-top-left {
    -o-object-position: top left !important;
       object-position: top left !important;
  }
  .object-position-xxl-top-center {
    -o-object-position: top center !important;
       object-position: top center !important;
  }
  .object-position-xxl-top-right {
    -o-object-position: top right !important;
       object-position: top right !important;
  }
  .object-position-xxl-center-left {
    -o-object-position: center left !important;
       object-position: center left !important;
  }
  .object-position-xxl-center {
    -o-object-position: center !important;
       object-position: center !important;
  }
  .object-position-xxl-center-right {
    -o-object-position: center right !important;
       object-position: center right !important;
  }
  .object-position-xxl-bottom-left {
    -o-object-position: bottom left !important;
       object-position: bottom left !important;
  }
  .object-position-xxl-bottom-center {
    -o-object-position: bottom center !important;
       object-position: bottom center !important;
  }
  .object-position-xxl-bottom-right {
    -o-object-position: bottom right !important;
       object-position: bottom right !important;
  }
}
.navbar {
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 4px 10px rgba(209, 209, 209, 0.5);
  background-color: #eeeeee;
}
.navbar .form-select {
  background-color: transparent;
}

#profile {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
#profile img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero-container {
  scroll-snap-type: x mandatory;
}
.hero-container::-webkit-scrollbar {
  display: none;
}

.card-hero {
  scroll-snap-align: center;
  height: 250px;
  position: relative;
}
.card-hero .card-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-hero .card-img-overlay {
  z-index: 1;
}
.card-hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Sesuaikan opacity untuk kegelapan */
  border-radius: 0.5rem; /* Jika kartu punya border-radius */
}

form {
  background-color: #e3e3e3;
}
form .form-control {
  background-color: transparent;
}
form .form-control:focus {
  background-color: transparent;
}

.search-container {
  background-color: #eeeeee;
  z-index: 11;
}

.main-content {
  z-index: 10;
}
.main-content.sticky-top {
  top: 3rem;
}
.main-content .navbar {
  top: 3.5rem;
}
.main-content .navbar-nav {
  border: 1px solid #d3d3d3;
}
.main-content .nav-link {
  border: 2px solid transparent;
}
.main-content .nav-link:hover {
  background-color: rgba(0, 172, 181, 0.3);
  border: 2px solid rgba(0, 172, 181, 0.7);
  color: blue;
}
.main-content .nav-link.active {
  background-color: rgba(0, 172, 181, 0.3);
  border: 2px solid rgba(0, 172, 181, 0.7);
  color: blue;
}

.content .card-container {
  scroll-snap-type: x mandatory;
}
.content .card-container::-webkit-scrollbar {
  display: none;
}
.content .card-content {
  height: 300px;
  scroll-snap-align: center;
  transition: 0.3s;
}
.content .card-content:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.content .card-content .card-img-overlay {
  z-index: 1;
}
.content .card-content:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25); /* Sesuaikan opacity untuk kegelapan */
  border-radius: 0.5rem; /* Jika kartu punya border-radius */
}
.content .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.content .card-title {
  text-overflow: ellipsis;
  display: block;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 992px) {
  .main-content .navbar-nav {
    border: 0;
  }
}/*# sourceMappingURL=main.css.map */